@using Finacial_Portal.Models
@using Microsoft.AspNet.Identity

@{ 
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var userhhId = db.Users.Find(userId).HouseholdId;
    var hhAccounts = db.Households.Find(userhhId).Accounts;

    var userBudgets = db.Budgets.Where(h => h.HouseholdId == userhhId);
    var userTransactions = db.Transactions.Where(u => u.EnteredById == userId);
}


<div class="block-header">
    <h2>DASHBOARD</h2>
</div>

<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">dock</i>
            </div>
            <div class="content">
                <div class="text">BUDGETS</div>
                <div class="number count-to" data-from="0" data-to="@userBudgets.Count()" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">monetization_on</i>
            </div>
            <div class="content">
                <div class="text">TRANSACTIONS</div>
                <div class="number count-to" data-from="0" data-to="@userTransactions.Count()" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="fas fa-piggy-bank material-icons"></i>
            </div>
            <div class="content">
                <div class="text">BANK ACCOUNTS</div>
                <div class="number count-to" data-from="0" data-to="@hhAccounts.Count()" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->

<div class="row clearfix">
    <!-- Visitors -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            @if (userBudgets.Count() >= 1)
            {
                <div class="body custom">
                    <div id="budgetChart"></div>
                </div>
            }
            else
            {
                <div class="body custom">
                    <div class="font-45 text-center">There is no budget data to display</div>
                </div>
            }

        </div>
    </div>
    <!-- #END# Visitors -->
</div>

<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card custom-t">
            <div class="header">
                <h2>Transactions</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    @Html.Partial("_TransactionsTable")
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
</div>

@section scripts{

    <script>
        $.post('@Url.Action("GetBudgetDataForBarChart", "Morris")').then
            (function (response) {
                new Morris.Bar({
                    element: 'budgetChart',
                    data: response,
                    xkey: 'Label',
                    ykeys: ['Target', 'Actual'],
                    labels: ['Target', 'Actual'],
                    //xLabelAngle: 45,
                    gridTextColor: '#555',
                    barColors: ['#59c0ff', '#f681e0'],
                    preUnits: '$'
                })
            })
    </script>
    
    <script>
        $('.table').DataTable();
    </script>
}